<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Show</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 p-8">
    <div class="max-w-[50%] mx-auto  p-8 rounded-lg shadow-sm">
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-2xl font-semibold">Edit Show</h1>
            <a href="#" class="text-blue-600 underline text-sm">Go Back</a>
        </div>

<form action="/shows/{{show.id}}/edits" method="POST">
    {% csrf_token %}
    <div class="mb-4">
        <label class="block text-sm font-medium mb-2">Title</label>
        <input type="text" name="title" class="w-full border border-gray-300 rounded px-3 py-2" required>
    </div>

    <div class="flex gap-4 mb-4">
        <div class="flex-1">
            <label class="block text-sm font-medium mb-2">Network</label>
            <input type="text" name="network" class="w-full border border-gray-300 rounded px-3 py-2" required>
        </div>
<div class="flex-1">
    <label class="block text-sm font-medium mb-2">Release Date</label>
    <input type="text" 
       class="w-full border border-gray-300 rounded px-3 py-2" 
       name="release_date" 
       title="Please use YYYY-MM-DD format"
       required>
  
    
</div>
    </div>

    <div class="mb-6">
        <label class="block text-sm font-medium mb-2">Description</label>
        <textarea rows="4" name="description" class="w-full border border-gray-300 rounded px-3 py-2"></textarea>
    </div>

    <div class="flex justify-center">
        <button type="submit" class="bg-white border-2 border-gray-800 text-gray-800 px-8 py-2 rounded font-medium">
            Edit
        </button>
    </div>
</form>      
 {% if messages %}
            <ul class="mt-4">
                {% for message in messages %}
                    <li class="text-red-600">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>