<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="w-[80%] mx-auto bg-white rounded-lg  p-6">

    <h1 class="text-4xl mb-6 ">{{book.title}} </h1>
    <h2 class="text-3xl mb-6">ID: {{book.id}}</h2>
    <p class="text-2xl mb-6">{{book.desc}} </p>

    <h1 class="text-4xl mb-6">Authors</h1>
    {% for author in book.authors.all %}
        <p>{{author.first_name}} {{author.last_name}} </p>
    {% endfor %}

    <form  action="/add_author_to_book/{{book.id}}/{{author.id}}" method="POST">
        {% csrf_token %}
        <select class="border-2 border-black w-[200px] py-2 px-3  " name="author_id">
            <option value="0">Select Author</option>
            {% for author in allAuthors %}
                <option value="{{author.id}}">{{author.first_name}} {{author.last_name}} </option>
    {% endfor %}
        </select>
        <button type="submit" class="border-2 border-black w-[200px] py-2 px-3 " value="Add Author">Add </button>
    </form>
</div>

</body>
</html>