<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Books/Authors with Templates</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 p-8">
    <nav class="flex justify-between p-5  items-center ">
        <h1 class="text-4xl"">CodingDojo Wall</h1>
        <div class="flex gap-5">
        <p class="text-2xl text-yellow-600">Welcome {{request.session.name}}</p>
        <a class="text-blue-700 underline" href="/logout">Logout</a>
        </div>
    </nav>
    <hr class="w-full border-1 border-black">
    <div class="w-[80%] mx-auto  rounded-lg  p-6 mt-9">
        <div class="flex gap-8 justify-between">
            <div class="w-[40%]">
                <form class="space-y-3  " action="/add_book" method="POST">
                    {% csrf_token %}
                    <h1 class="text-2xl font-bold mb-6">Add a Book </h1>
                    <div class="flex gap-4  items-center  justify-between ">
                        <label class=" text-sm font-medium mb-1">Title</label>
                        <input type="text" name="title" class="w-[50%] px-3 py-2   rounded border-black  border-4">
                    </div>
                    <div class="flex gap-4 align-center items-center justify-between   ">
                        <label class=" text-sm font-medium mb-1">Description</label>
                        <input type="text" name="desc" class=" h-[100px] w-[50%] px-3 py-2 border-black rounded border-4">
                    </div>
                    <button type="submit" class="px-4 py-2 bg-gray-200  font-medium">Add</button>
                </form>
                {% if messages %}
                    <ul class="mt-4">
                        {% for message in messages %}
                            <li class="text-red-600">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class=" w-[40%]">
                <h1 class="text-2xl font-bold mb-6">All Books</h1>
                <div class="flex flex-col gap-4 ">
                    {% for book in allBooks %}
                    <a class="text-blue-600 underline text-3xl mt-10" href="/books/{{book.id}}"> {{book.title}} </a>
                    <p class="text-3xl">added by: {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}}</p>
                    <form action="favorite/{{request.session.id}}/{{book.id}}" method="post">
                    {% csrf_token %}
                    {% if request.session.id == book.uploaded_by.id %}
                        <button class="text-blue-600 underline text-3xl" > Add To Favorites </button>
                    {% else %}
                        <p class="text-purple-600  text-3xl" > Already Added </p>
                    {% endif %}
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>