<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodingDojo Wall</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-50 text-gray-900">
    <nav class="flex justify-between items-center p-5 bg-white shadow-md">
      <img src="{{ request.session.avatar }}" alt="logo" class="w-12 h-12">
      {% if request.session.name %}
      <div class="flex items-center gap-5">
        <p class="text-2xl text-yellow-600">Welcome {{ request.session.name }}</p>
        <a href="/logout" class="text-blue-700 underline hover:text-blue-900">Logout</a>
      </div>
      {% endif %}
    </nav>

    <hr class="border border-black my-2" />

    <div class="flex gap-4">
      <div class="w-2/5 mx-auto mt-9 p-6 rounded-lg bg-white shadow-sm flex flex-col gap-4">
        
        <p class="text-2xl font-semibold">Game name: {{ game.name }}</p>
        <p class="text-2xl font-semibold">Genre: {{ game.genre }}</p>
        <p class="text-2xl font-semibold">Description: {{ game.description }}</p>
        <p class="text-2xl font-semibold">Created By: {{ game.created_by }} : {{ game.user.first_name }}</p>

        {% if request.session.id == game.user.id %}
        <a href="/update_game/{{ game.id }}" class="flex flex-col gap-3" method="POST"> 
            Update
        </a>

        <form action="/delete_game/{{ game.id }}" method="POST"> 
          {% csrf_token %} 
          <button type="submit" class="bg-white border-2 border-black font-bold py-2 px-4 rounded transition text-black">
            Delete
          </button>
        </form>
        {% endif %}

        {% if request.session.id != game.user.id %}
        <form action="/favorite/{{ game.id }}" method="POST">
          {% csrf_token %}
          <select name="rating" class="w-full px-4 py-2 border-2 border-gray-300 rounded-md">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <button type="submit" class="bg-white border-2 border-black font-bold py-2 px-4 rounded transition text-black mt-2">
            Add To Favorites
          </button>
        </form>
        {% endif %}

        <ul class="mt-4">
          {% for message in messages %}
            <li class="text-red-600">{{ message }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="w-1/5 mx-auto mt-9 p-6 rounded-lg bg-white shadow-sm flex flex-col gap-4">
        <p class="text-2xl font-semibold">Users who like this game:</p>
        {% for user in game.players_liked.all %}
 <table class="w-full border-spacing-2  border border-gray-400">
                    <thead>
                        <tr class="bg-gray-100" >
                            <th class="text-left py-2 px-3 text-sm font-semibold"> Id </th>
                            <th class="text-left py-2 px-3 text-sm font-semibold">Player Name</th>
                            <th class="text-left py-2 px-3 text-sm font-semibold"> Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                 {% for user in game.players_liked.all %}
                        <tr class="border-b">
                            <td class="py-2 px-3"><a href="/game/{{game.id}}" class="text-blue-600 underline ">{{user.id}}</a></td>
                            <td class="py-2 px-3">{{user.first_name}} {{user.last_name}}</td>
                            <td class="py-2 px-3">{{game.ratings}} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

      
        {% empty %}
        <p class="text-xl text-gray-500 ml-4">No likes yet.</p>
        {% endfor %}
      </div>
    </div>
  </body>
</html>