<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div style="display: grid;
            grid-template-columns: repeat({{ cols }}, 42px);
            grid-template-rows: repeat({{ rows }}, 42px);">
    {% for r in range(rows) %}
      {% for c in range(cols) %}
<div style="background-color: {% if (r + c) % 2 == 0 %}{{ color1 }}{% else %}{{color2}}{% endif %};"></div>      {% endfor %}
    {% endfor %}
  </div>
</body> 
</html>